
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Inicia Sesión</title>
    <link rel="stylesheet" href="../CSS/style.css">
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
</head>

<body class="light">
    <section class="inicio">
        <div class="login">
            <form id="formulario">
                <h2 class="tit">Bienvenido</h2>
                <div class="caja">
                    <span class="icono"><ion-icon name="person-outline"></ion-icon></span>
                    <input type="text"  name="usuario" id="usuario" autocomplete="off">
                    <label>Usuario</label>
                </div>
                <div class="caja">
                    <span class="icono"><ion-icon name="lock-closed-outline"></ion-icon></span>
                    <input type="password" name="contrasena"  id="contrasena" autocomplete="off" >
                    <label>Contraseña</label>
                </div>
                <div class="olvido">
                    <a href="recuperarC">¿Olvidaste tu contraseña?</a>
                </div>
                <button type="submit" name="login" id="inicioSesion">Iniciar Sesión</button>
                <div class="registro">
                    <p>¿Aun no tienes acceso? <a href="Registro">Registrate</a> </p>

                </div>

            </form>

        </div>
    </section>
    
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    
</body>
 <script src="js/jquery.min.js"></script>
 
    <script src="../JS/funcionesUsuarios.js"></script>
     <script src="../JS/validacionRegistrar.js"></script>


</html>
</body>

</html>