<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Modificar Perfil</title>
    <!-- Simple bar CSS -->
 
    <link rel="stylesheet" href="css/simplebar.css">
    <!-- Fonts CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Icons CSS -->
    <link rel="stylesheet" href="css/feather.css">
    <!-- Date Range Picker CSS -->
    <link rel="stylesheet" href="css/daterangepicker.css">
    <!-- App CSS -->
    <link rel="stylesheet" href="css/app-light.css" id="lightTheme">
    <link rel="stylesheet" href="css/app-dark.css" id="darkTheme" disabled>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body class="vertical  light  ">
    <div class="wrapper">
      <nav class="topnav navbar navbar-light">
      <button type="button" class="navbar-toggler text-muted mt-2 p-0 mr-3 collapseSidebar">
        <i class="fe fe-menu navbar-toggler-icon"></i>
      </button>

      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link text-muted my-2" href="#" id="modeSwitcher" data-mode="dark">
            <i class="fe fe-sun fe-24"></i>
          </a>
        </li>

        <li class="nav-item nav-notif">
          <a class="nav-link text-muted my-2" href="./#" data-toggle="modal" data-target=".modal-notif">
            <span class="fe fe-bell fe-24"></span>
            <span class="dot dot-md bg-success"></span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-muted pr-0" href="#" id="navbarDropdownMenuLink" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="avatar avatar-sm mt-2">
              <img src="./assets/avatars/face-1.jpg" alt="..." class="avatar-img rounded-circle">
            </span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="modificarPerfil">Perfil</a>
          </div>
        </li>
      </ul>
    </nav>



<aside class="sidebar-left border-right bg-white shadow" id="leftSidebar" data-simplebar>
            <a href="#" class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3" data-toggle="toggle">
                <i class="fe fe-x"><span class="sr-only"></span></i>
            </a>
            <nav class="vertnav navbar navbar-light">
                <!-- nav bar -->
                <div class="w-100 mb-4 d-flex">
                    <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="/">
                        <svg version="1.1" id="logo" class="navbar-brand-img brand-sm"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                            y="0px" viewBox="0 0 120 120" xml:space="preserve">
                            <g>
                                <polygon class="st0" points="78,105 15,105 24,87 87,87 	" />
                                <polygon class="st0" points="96,69 33,69 42,51 105,51 	" />
                                <polygon class="st0" points="78,33 15,33 24,15 87,15 	" />
                            </g>
                        </svg>
                    </a>
                </div>



                <ul class="navbar-nav flex-fill w-100 mb-2">

                    <p class="text-muted nav-heading mt-4 mb-1">
                        <span>Procesos</span>
                    </p>

                    <ul class="navbar-nav flex-fill w-100 mb-2">
                        <li class="nav-item w-100">
                            <a class="nav-link" href="dashboard">
                                <i class="fe fe-bar-chart fe-24"></i>
                                <span class="ml-3 item-text">Desempeño</span>
                            </a>
                        </li>
                        {{!-- <li class="nav-item dropdown">
                            <a href="#dashboard" data-toggle="collapse" aria-expanded="false"
                                class="dropdown-toggle nav-link">
                                <i class="fe fe-bar-chart fe-24"></i>
                                <span class="ml-3 item-text">Desempeño</span>
                            </a>
                            <ul class="collapse list-unstyled pl-4 w-100" id="dashboard">
                                <li class="nav-item">
                                    <a class="nav-link pl-3" href="/dashboard"><span
                                            class="ml-1 item-text">Dashboard</span>
                                    </a>
                                </li>
                            </ul>
                        </li> --}}
                        <li class="nav-item w-100">
                            <a class="nav-link" href="usuariosL">
                                <i class="fe fe-24 fe-user"></i>
                                <span class="ml-3 item-text">Usuarios</span>
                            </a>
                        </li>
                        {{!-- <li class="nav-item dropdown">
                            <a href="#usuarios" data-toggle="collapse" aria-expanded="false"
                                class="dropdown-toggle nav-link">
                                <i class="fe fe-24 fe-user"></i>
                                <span class="ml-3 item-text">Usuarios</span>
                            </a>
                            <ul class="collapse list-unstyled pl-4 w-100" id="usuarios">
                                <li class="nav-item">
                                    <a class="nav-link pl-3" href="/usuarios"><span
                                            class="ml-1 item-text">Usuarios</span>
                                    </a>
                                </li>
                            </ul>
                        </li> --}}
                        <li class="nav-item dropdown">
                            <a href="#espacios" data-toggle="collapse" aria-expanded="false"
                                class="dropdown-toggle nav-link">
                                <i class="fe fe-home fe-24"></i>
                                <span class="ml-3 item-text">Espacios</span>
                            </a>
                            <ul class="collapse list-unstyled pl-4 w-100" id="espacios">
                                <li class="nav-item">
                                    <a class="nav-link pl-3" href="/espacios"><span
                                            class="ml-1 item-text">Espacios</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link pl-3" href="propietarios"><span
                                            class="ml-1 item-text">Propietarios</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link pl-3" href="residentes"><span
                                            class="ml-1 item-text">Residentes</span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#reservas" data-toggle="collapse" aria-expanded="false"
                                class="dropdown-toggle nav-link">
                                <i class="fe fe-clipboard fe-24"></i>
                                <span class="ml-3 item-text">Reservas</span>
                            </a>
                            <ul class="collapse list-unstyled pl-4 w-100" id="reservas">
                                <li class="nav-item">
                                    <a class="nav-link pl-3" href="reservas"><span
                                            class="ml-1 item-text">Reservas</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link pl-3" href="agenda"><span class="ml-1 item-text">Agenda </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link pl-3" href="vehiculos"><span
                                            class="ml-1 item-text">Vehiculos</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link pl-3" href="visitantes"><span
                                            class="ml-1 item-text">Visitantes</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link pl-3" href="visitas"><span
                                            class="ml-1 item-text">Ingresos</span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item w-100">
                            <a class="nav-link" href="multas">
                                <i class="fe fe-24 fe-dollar-sign"></i>
                                <span class="ml-3 item-text">Multas</span>
                            </a>
                        </li>
                        <li class="nav-item w-100">
                            <a class="nav-link" href="notificaciones">
                                <i class="fe fe-24 fe-message-square"></i>
                                <span class="ml-3 item-text">Notificaciones</span>
                            </a>
                        </li>
                        <li class="nav-item w-100">
                            <a class="nav-link" href="vigilantesL">
                                <i class="fe fe-24 fe-lock"></i>
                                <span class="ml-3 item-text">Vigilantes</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#configuracion" data-toggle="collapse" aria-expanded="false"
                                class="dropdown-toggle nav-link">
                                <i class="fe fe-24 fe-settings"></i>
                                <span class="ml-3 item-text">Configuración</span>
                            </a>
                            <ul class="collapse list-unstyled pl-4 w-100" id="configuracion">
                                <li class="nav-item">
                                    <a class="nav-link pl-3" href="/rolesL"><span class="ml-1 item-text">Roles</span>
                                    </a>
                                </li>
                                 <li class="nav-item">
                                    <a class="nav-link pl-3" href="modificarPerfil"><span
                                            class="ml-1 item-text">Perfil</span>
                                    </a>
                                </li>
                            </ul>
                            
                        </li>
                        <br>
                        <li class="nav-item">
                            <a href="/" class="nav-link" id="salir">
                                <i class="fe fe-24 fe-slack"></i>
                                <span class="ml-3 item-text">Cerrar Sesión</span>
                            </a>
                        </li>
                    </ul>
        </aside>


      <main role="main" class="main-content"  >
        <div class="container-fluid" >
          <div class="row justify-content-center" >
            <div class="col-12 col-lg-10 " >
           <h2 class="h3 mb-4 page-title" >Modificar Perfil</h2>
              <div class="my-4">
               <ul class="nav nav-tabs mb-4 justify-content-center" id="myTab" role="tablist">
    <a class="nav-link pl-3" href="modificarPerfil"><span class="ml-1">Información Personal</span></a>
</ul>

                <form>
                  <div class="row mt-5 align-items-center">
                    <div class="col-md-3 text-center mb-5">
                      <div class="avatar avatar-xl">
                        <img src="./assets/avatars/face-1.jpg" alt="..." class="avatar-img rounded-circle">
                       <a href="#" ><p>Actualizar Foto</p></a> 
                      </div>
                    </div>
                    <div class="col">
                      <div class="row align-items-center">
                        
                      </div>
                      <div class="row mb-4">
                        <div class="col-md-7">
                           </div>
                        <form action="" id="form">
                         <div class="form-group col-md-6">
                      <label for="firstname">Nombre</label>
                      <input type="text" id="nombre" class="form-control" value="Carlos">
                      <div id="mensajeNombre" style="color: #900D09;"></div>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="lastname">Apellido</label>
                      <input type="text" id="apellido" class="form-control" Value="Amaya">
                       <div id="mensajeApellido" style="color: #900D09;"></div>
                    </div>
                  
                  <div class="form-group col-md-6">
                          <label for="simpleinput">Tipo de Documento</label>
                          <select name="" id="tipoDocumento" class="form-control">
                            <option value="CC">Cedula</option>
                            <option value="CE">Cedula extranjeria</option>
                          </select>
                        </div>
                  <div class="form-group col-md-6">
                    <label for="inputAddress5">Documento</label>
                    <input type="number" class="form-control" id="documento" Value="1025110678">
                     <div id="mensajeDocumento" style="color: #900D09;"></div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputAddress5">Correo</label>
                    <input type="email" class="form-control" id="correo"Value="carlos@gmail.com">
                     <div id="mensajeEmail" style="color: #900D09;"></div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputAddress5">Telefono</label>
                    <input type="number" class="form-control" id="telefono" value="3156789034">
                     <div id="mensajeTelefono" style="color: #900D09;"></div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputAddress5">Contraseña Actual</label>
                    <input type="password" class="form-control" id="password" value="*********">
                     <div id="mensajePassword" style="color: #900D09"></div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputAddress5">Nueva Contraseña</label>
                    <input type="password" class="form-control" id="confirmarPassword" >
                    <div id="mensajeCpassword" style="color: #900D09;"></div>
                  </div>
                 <div class="modal-footer">
  <button type="button" class="btn btn-primary" id="btnActualizar" data-dismiss="modal">Actualizar</button>
 <a href="dashboard" style="text-decoration: none;"> <button type="button" class="btn btn-secondary" id="btnCancelar" data-dismiss="modal">Cancelar</button></a>
</div>

                      </div>
                      
                    </div>
                    </form>
                  </div><br><br>
                  <hr class="my-9">
                  <div class="form-row">
      </main> <!-- main -->
    </div>
        <script src="../js/validacionCerrarSesion.js"></script>
    <script src="../js/scriptModificarP.js"></script> <!-- .wrapper -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/simplebar.min.js"></script>
    <script src='js/daterangepicker.js'></script>
    <script src='js/jquery.stickOnScroll.js'></script>
    <script src="js/tinycolor-min.js"></script>
    <script src="js/config.js"></script>
    <script src="js/apps.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag()
      {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-56159088-1');
    </script>
  </body>
</html>