<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>{{modulo}}</title>
    <!-- Simple bar CSS -->
    <link rel="stylesheet" href="css/simplebar.css">
    <!-- Fonts CSS -->
    <link
        href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <!-- Icons CSS -->
    <link rel="stylesheet" href="css/feather.css">
    <!-- Date Range Picker CSS -->
    <link rel="stylesheet" href="css/daterangepicker.css">
    <!-- App CSS -->
    <link rel="stylesheet" href="css/app-light.css" id="lightTheme">
    <link rel="stylesheet" href="css/app-dark.css" id="darkTheme" disabled>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>




<body class="vertical  light  ">
    <div class="wrapper">
        <nav class="topnav navbar navbar-light">
            <button type="button" class="navbar-toggler text-muted mt-2 p-0 mr-3 collapseSidebar">
                <i class="fe fe-menu navbar-toggler-icon"></i>
            </button>

            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link text-muted my-2" href="#" id="modeSwitcher" data-mode="dark">
                        <i class="fe fe-sun fe-24"></i>
                    </a>
                </li>

                <li class="nav-item nav-notif">
                    <a class="nav-link text-muted my-2" href="./#" data-toggle="modal" data-target=".modal-notif">
                        <span class="fe fe-bell fe-24"></span>
                        <span class="dot dot-md bg-success"></span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted pr-0" href="#" id="navbarDropdownMenuLink"
                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="avatar avatar-sm mt-2">
                            <img src="./assets/avatars/face-1.jpg" alt="..." class="avatar-img rounded-circle">
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Perfil</a>
                    </div>
                </li>
            </ul>
        </nav>
        <aside class="sidebar-left border-right bg-white shadow" id="leftSidebar" data-simplebar>
            <a href="#" class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3" data-toggle="toggle">
                <i class="fe fe-x"><span class="sr-only"></span></i>
            </a>
            <nav class="vertnav navbar navbar-light">
                <!-- nav bar -->
                <div class="w-100 mb-4 d-flex">
                    <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="/">
                        <svg version="1.1" id="logo" class="navbar-brand-img brand-sm"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                            y="0px" viewBox="0 0 120 120" xml:space="preserve">
                            <g>
                                <polygon class="st0" points="78,105 15,105 24,87 87,87 	" />
                                <polygon class="st0" points="96,69 33,69 42,51 105,51 	" />
                                <polygon class="st0" points="78,33 15,33 24,15 87,15 	" />
                            </g>
                        </svg>
                    </a>
                </div>



                <ul class="navbar-nav flex-fill w-100 mb-2">

                    <p class="text-muted nav-heading mt-4 mb-1">
                        <span>Procesos</span>
                    </p>

                    <ul class="navbar-nav flex-fill w-100 mb-2">

                        <li class="nav-item dropdown">
                            <a href="#dashboard" data-toggle="collapse" aria-expanded="false"
                                class="dropdown-toggle nav-link">
                                <i class="fe fe-bar-chart fe-24"></i>
                                <span class="ml-3 item-text">Desempe침o</span>
                            </a>
                            <ul class="collapse list-unstyled pl-4 w-100" id="dashboard">
                                <li class="nav-item">
                                    <a class="nav-link pl-3" href="/dashboard"><span
                                            class="ml-1 item-text">Dashboard</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a href="#configuracion" data-toggle="collapse" aria-expanded="false"
                                class="dropdown-toggle nav-link">
                                <i class="fe fe-24 fe-settings"></i>
                                <span class="ml-3 item-text">Configuraci칩n</span>
                            </a>
                            <ul class="collapse list-unstyled pl-4 w-100" id="configuracion">
                                <li class="nav-item">
                                    <a class="nav-link pl-3" href="/roles"><span class="ml-1 item-text">Roles</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a href="#usuarios" data-toggle="collapse" aria-expanded="false"
                                class="dropdown-toggle nav-link">
                                <i class="fe fe-24 fe-user"></i>
                                <span class="ml-3 item-text">Usuarios</span>
                            </a>
                            <ul class="collapse list-unstyled pl-4 w-100" id="usuarios">
                                <li class="nav-item">
                                    <a class="nav-link pl-3" href="/usuarios"><span
                                            class="ml-1 item-text">Usuarios</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a href="#espacios" data-toggle="collapse" aria-expanded="false"
                                class="dropdown-toggle nav-link">
                                <i class="fe fe-home fe-24"></i>
                                <span class="ml-3 item-text">Espacios</span>
                            </a>
                            <ul class="collapse list-unstyled pl-4 w-100" id="espacios">
                                <li class="nav-item">
                                    <a class="nav-link pl-3" href="/espacios"><span
                                            class="ml-1 item-text">Espacios</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link pl-3" href="propietarios"><span
                                            class="ml-1 item-text">Propietarios</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link pl-3" href="residentes"><span
                                            class="ml-1 item-text">Residentes</span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#reservas" data-toggle="collapse" aria-expanded="false"
                                class="dropdown-toggle nav-link">
                                <i class="fe fe-clipboard fe-24"></i>
                                <span class="ml-3 item-text">Reservas</span>
                            </a>
                            <ul class="collapse list-unstyled pl-4 w-100" id="reservas">
                                <li class="nav-item">
                                    <a class="nav-link pl-3" href="reservas"><span
                                            class="ml-1 item-text">Reservas</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link pl-3" href="agenda"><span class="ml-1 item-text">Agenda </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link pl-3" href="vehiculos"><span
                                            class="ml-1 item-text">Vehiculos</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link pl-3" href="visitantes"><span
                                            class="ml-1 item-text">Visitantes</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link pl-3" href="visitas"><span
                                            class="ml-1 item-text">Visitas</span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#pagos" data-toggle="collapse" aria-expanded="false"
                                class="dropdown-toggle nav-link">
                                <i class="fe fe-24 fe-dollar-sign"></i>
                                <span class="ml-3 item-text">Pagos</span>
                            </a>
                            <ul class="collapse list-unstyled pl-4 w-100" id="pagos">
                                <li class="nav-item">
                                    <a class="nav-link pl-3" href="cuentas"><span class="ml-1 item-text">cuentas de
                                            cobro</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link pl-3" href="cobros"><span
                                            class="ml-1 item-text">cobros</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link pl-3" href="comprobantes"><span
                                            class="ml-1 item-text">comprobantes</span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#notificaciones" data-toggle="collapse" aria-expanded="false"
                                class="dropdown-toggle nav-link">
                                <i class="fe fe-24 fe-message-square"></i>
                                <span class="ml-3 item-text">Notificaciones</span>
                            </a>
                            <ul class="collapse list-unstyled pl-4 w-100" id="notificaciones">
                                <li class="nav-item">
                                    <a class="nav-link pl-3" href="notificaciones"><span
                                            class="ml-1 item-text">Notificaciones</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#seguridad" data-toggle="collapse" aria-expanded="false"
                                class="dropdown-toggle nav-link">
                                <i class="fe fe-24 fe-lock"></i>
                                <span class="ml-3 item-text">Seguridad</span>
                            </a>
                            <ul class="collapse list-unstyled pl-4 w-100" id="seguridad">
                                <li class="nav-item">
                                    <a class="nav-link pl-3" href="vigilantes"><span
                                            class="ml-1 item-text">Vigilantes</span>
                                    </a>
                                </li>
                            </ul>
                        </li><br>
                        <li class="nav-item dropdown">
                            <a href="/" class="dropdown-toggle nav-link">
                                <i class="fe fe-24 fe-slack"></i>
                                <span class="ml-3 item-text">Cerrar Sesi칩n</span>
                            </a>
                        </li>
                    </ul>
        </aside>
        '<main role="main" class="main-content">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-11">
                        <h2 class="page-title">Crear {{modulo}}</h2>
                        <div class="card shadow mb-4">
                            {{!-- <div class="card-header">
                                <strong class="card-title">Registrar un nuevo propietario</strong>
                            </div> --}}
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group mb-3">
                                            <label for="simpleinput">Tipo de Espacio</label>
                                            <select name="" id="tipo_Espacio" class="form-control"
                                                onchange="validacionTR()">
                                                <option value=""></option>
                                                <option value="ZONA HUMEDA">Zona Humeda</option>
                                                <option value="PARQUEADERO">Parqueadero</option>
                                                <option value="SALON SOCIAL">Salon Social</option>
                                            </select>
                                        </div>
                                        <div class="form-group mb-3" id="espacioh" style="display: none;">
                                            <label for="simpleinput">Espacio de la zona humeda</label>
                                            <select name="" id="espacio" class="form-control">
                                                <option value=""></option>
                                                <option value="PISCINA">Piscina</option>
                                                <option value="SAUNA">Sauna</option>
                                            </select>
                                        </div>
                                        <div id="espaciop" style="display: none;">
                                            <div class="form-group mb-3">
                                                <label>Placa del vehiculo</label>
                                                <input type="text" id="placa" class="form-control"
                                                    onchange="validacion_placa()" value="N/A" required>
                                                <p id="rplaca"></p>
                                            </div>
                                            <div class="form-group mb-3">
                                                <label>parqueadero a reservar</label>
                                                <input type="text" id="parqueadero" class="form-control"
                                                    onchange="validacion_parqueadero()" value="N/A">
                                                <p id="rparqueadero"></p>
                                            </div>
                                        </div>

                                        <div class="form-group mb-3 custom-control custom-checkbox" id="espacioss"
                                            style="display: none;">
                                            <input class="custom-control-input" type="checkbox" name=""
                                                id="customCheckbox1">
                                            <label for="customCheckbox1" class="custom-control-label">la reserva del
                                                salon social tiene un coste prepago de $--
                                                y este es por seguridad en caso de algun accidente o da침o ademas
                                                del costo total: $--</label>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label>Nombre de la persona responsable de la reserva</label>
                                            <input type="text" id="nombre" class="form-control"
                                                onchange="validacion_persona()" required>
                                            <p id="rnombre"></p>
                                        </div>
                                        <div class="form-group md-3">
                                            <label for="date-input1">Dia de la reserva</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text" id="button-addon-date"><span
                                                            class="fe fe-calendar fe-16"></span></div>
                                                </div>
                                                <input type="date" class="form-control drgpicker" id="fecha reserva"
                                                    value="" onchange="validacion_fecha()">
                                            </div>
                                        </div>
                                        <div class="form-group md-3">
                                            <label for="startDate">hora de la reserva</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text" id="button-addon-time"><span
                                                            class="fe fe-clock fe-16"></span></div>
                                                </div>
                                                <input type="text" class="form-control time-input" id="hora"
                                                    placeholder="10:00 AM">
                                            </div>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label>cantidad de personas que participan en la reserva</label>
                                            <input type="number" id="cantidad" class="form-control" onchange="validacion_cantidad()"
                                                required>
                                            <p id="rcantidad"></p>
                                        </div>
                                    </div> <!-- /.col -->

                                    <div class="card-body">
                                        <button id="boton_crear" type="button" class="btn mb-2 btn-primary btn-block"
                                            onclick="crearReserva()"><span class="fe mr-2"></span>Crear</button>
                                        <a href="reservas"><button id="regresar" type="button"
                                                class="btn mb-2 btn-light btn-block">
                                                <spana class="fe mr-2"></spana>Regresar
                                            </button></a>
                                    </div>
                                </div>

                            </div>
                            <!-- / .card -->
        </main> <!-- main -->
    </div> <!-- .wrapper -->

    <script src="../js/funciones_reservas.js"></script>
    <script src="../js/reserva_validacion.js"></script>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/simplebar.min.js"></script>
    <script src='js/daterangepicker.js'></script>
    <script src='js/jquery.stickOnScroll.js'></script>
    <script src="js/tinycolor-min.js"></script>
    <script src="js/config.js"></script>
    <script src="js/apps.js"></script>
    <script src="js/daterangepicker.js"></script>
    <script src="js/jquery.mask.min.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/jquery.steps.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/dropzone.min.js"></script>
    <script src="js/uppy.min.js"></script>
    <script src="js/quill.min.js"></script>
    <script src="js/apps.js"></script>
    <script src="js/jquery.timepicker.js"></script>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-56159088-1');
    </script>
    <div class="ui-timepicker-container ui-timepicker-no-scrollbar ui-timepicker-standard"
        style="top: 448.45px; left: 1004.2px; height: 210.6px; width: 179.6px; z-index: 9999; cursor: default;">
        <div class="ui-timepicker ui-widget ui-widget-content ui-menu ui-corner-all" style="width: 172px;">
            <ul class="ui-timepicker-viewport" style="padding-right: 40px; width: 172px;">
                <li class="ui-menu-item" style="width: 172px;"><a class="ui-corner-all">12:00 AM</a></li>
                <li class="ui-menu-item" style="width: 172px;"><a class="ui-corner-all">12:30 AM</a></li>
                <li class="ui-menu-item" style="width: 172px;"><a class="ui-corner-all">01:00 AM</a></li>
                <li class="ui-menu-item" style="width: 172px;"><a class="ui-corner-all">01:30 AM</a></li>
                <li class="ui-menu-item" style="width: 172px;"><a class="ui-corner-all">02:00 AM</a></li>
                <li class="ui-menu-item" style="width: 172px;"><a class="ui-corner-all">02:30 AM</a></li>
                <li class="ui-menu-item" style="width: 172px;"><a class="ui-corner-all">03:00 AM</a></li>
                <li class="ui-menu-item" style="width: 172px;"><a class="ui-corner-all">03:30 AM</a></li>
                <li class="ui-menu-item" style="width: 172px;"><a class="ui-corner-all">04:00 AM</a></li>
                <li class="ui-menu-item" style="width: 172px;"><a class="ui-corner-all">04:30 AM</a></li>
                <li class="ui-menu-item" style="width: 172px;"><a class="ui-corner-all">05:00 AM</a></li>
                <li class="ui-menu-item" style="width: 172px;"><a class="ui-corner-all">05:30 AM</a></li>
                <li class="ui-menu-item" style="width: 172px;"><a class="ui-corner-all">06:00 AM</a></li>
                <li class="ui-menu-item" style="width: 172px;"><a class="ui-corner-all">06:30 AM</a></li>
                <li class="ui-menu-item" style="width: 172px;"><a class="ui-corner-all">07:00 AM</a></li>
                <li class="ui-menu-item" style="width: 172px;"><a class="ui-corner-all">07:30 AM</a></li>
                <li class="ui-menu-item" style="width: 172px;"><a class="ui-corner-all">08:00 AM</a></li>
                <li class="ui-menu-item" style="width: 172px;"><a class="ui-corner-all">08:30 AM</a></li>
                <li class="ui-menu-item" style="width: 172px;"><a class="ui-corner-all">09:00 AM</a></li>
                <li class="ui-menu-item" style="width: 172px;"><a class="ui-corner-all">09:30 AM</a></li>
                <li class="ui-menu-item" style="width: 172px;"><a class="ui-corner-all">10:00 AM</a></li>
                <li class="ui-menu-item" style="width: 172px;"><a class="ui-corner-all">10:30 AM</a></li>
                <li class="ui-menu-item" style="width: 172px;"><a class="ui-corner-all">11:00 AM</a></li>
                <li class="ui-menu-item" style="width: 172px;"><a class="ui-corner-all">11:30 AM</a></li>
                <li class="ui-menu-item" style="width: 172px;"><a class="ui-corner-all">12:00 PM</a></li>
                <li class="ui-menu-item" style="width: 172px;"><a class="ui-corner-all">12:30 PM</a></li>
                <li class="ui-menu-item" style="width: 172px;"><a class="ui-corner-all">01:00 PM</a></li>
                <li class="ui-menu-item" style="width: 172px;"><a class="ui-corner-all">01:30 PM</a></li>
                <li class="ui-menu-item" style="width: 172px;"><a class="ui-corner-all">02:00 PM</a></li>
                <li class="ui-menu-item" style="width: 172px;"><a class="ui-corner-all">02:30 PM</a></li>
                <li class="ui-menu-item" style="width: 172px;"><a class="ui-corner-all">03:00 PM</a></li>
                <li class="ui-menu-item" style="width: 172px;"><a class="ui-corner-all">03:30 PM</a></li>
                <li class="ui-menu-item" style="width: 172px;"><a class="ui-corner-all">04:00 PM</a></li>
                <li class="ui-menu-item" style="width: 172px;"><a class="ui-corner-all">04:30 PM</a></li>
                <li class="ui-menu-item" style="width: 172px;"><a class="ui-corner-all">05:00 PM</a></li>
                <li class="ui-menu-item" style="width: 172px;"><a class="ui-corner-all">05:30 PM</a></li>
                <li class="ui-menu-item" style="width: 172px;"><a class="ui-corner-all">06:00 PM</a></li>
                <li class="ui-menu-item" style="width: 172px;"><a class="ui-corner-all">06:30 PM</a></li>
                <li class="ui-menu-item" style="width: 172px;"><a class="ui-corner-all">07:00 PM</a></li>
                <li class="ui-menu-item" style="width: 172px;"><a class="ui-corner-all">07:30 PM</a></li>
                <li class="ui-menu-item" style="width: 172px;"><a class="ui-corner-all">08:00 PM</a></li>
                <li class="ui-menu-item" style="width: 172px;"><a class="ui-corner-all">08:30 PM</a></li>
                <li class="ui-menu-item" style="width: 172px;"><a class="ui-corner-all">09:00 PM</a></li>
                <li class="ui-menu-item" style="width: 172px;"><a class="ui-corner-all">09:30 PM</a></li>
                <li class="ui-menu-item" style="width: 172px;"><a class="ui-corner-all">10:00 PM</a></li>
                <li class="ui-menu-item" style="width: 172px;"><a class="ui-corner-all">10:30 PM</a></li>
                <li class="ui-menu-item" style="width: 172px;"><a class="ui-corner-all">11:00 PM</a></li>
                <li class="ui-menu-item" style="width: 172px;"><a class="ui-corner-all">11:30 PM</a></li>
            </ul>
        </div>
    </div>
</body>

</html>'
