
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Recuperar Contrase単a</title>
    <link rel="stylesheet" href="../css/styleRecuperar.css">
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
</head>
<body class="light">
    <section class="inicio">
        <div class="login">
            <form id="formulario">
                <h2 class="tit">Restablecer Contrase単a</h2>
                <div class="caja" id="cajaCorreo">
                    <span class="icono"><ion-icon name="person-outline"></ion-icon></span>
                    <input type="password" name="correo" id="nuevaC" autocomplete="off">
                    <label>Nueva contrase単a</label>    
                </div>

                <div class="caja" id="cajaCorreo">
                    <span class="icono"><ion-icon name="person-outline"></ion-icon></span>
                    <input type="password" name="correo" id="contrasena" autocomplete="off">
                    <label>Confirmar contrase単a</label>
                </div>
                
                <button type="button" name="continuar"  class="continuar" id="guardar" >Guardar cambios</button>
                
            </form>
        </div>
    </section>

   
</body>



    
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    
</body>
 <script src="js/jquery.min.js"></script>
 
    <script src="../js/scriptRestablecer.js"></script>


</html>
</body>

</html>