*{
    
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* .light{
    background-color: #C9D6DF;
  } */
  
  /* .body{
    background-color: white;
  } */
  #two{
    background-color: #52616B;
  }
  .hola{
    border: #000 solid 2px;
  }
  label{
    color: #000;
  }
  #one{
    border-width: 4px;
    border-style: solid; 
    border-image: linear-gradient(to right, #ffffff, #52616B) 1; 
  
  }
  #btnvigilante, #regresar{
    color: #3c4044;
  }
  .lais{
    background-color: #000;
  }
  .my-nav {
    /* Estilos personalizados para el nav */
    background-color: #f0f0f0; /* Cambia el color de fondo */
    padding: 10px; /* Ajusta el espaciado interno */
    /* Agrega otros estilos según tus preferencias */
  }
  
  .custom-nav {
    background-color: blue;
    width: 100%;
  }
  
  
  .card-title{
    color: #fff;
  }
  
  .inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(https://img.freepik.com/foto-gratis/vista-calle-centro-angeles-noche_649448-2530.jpg?w=740&t=st=1683954453~exp=1683955053~hmac=ac7183bd995a1782c50e5737f2a344663fe834d019be8f4f3726f021ef5e902e);
  background-size: cover;
    background-position: center;
  }
  
  
  .login{
    position: relative;
    width: 700px;
    height: 500px;
    background: #ffffff1a;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid rgb(9, 218, 159); */
    backdrop-filter: blur(17px);
  
  }
  .descripcion {
    top: -1px;
    color: #fff;
    position: relative;
    width: 470px;
    margin: 0px 0;
    padding: 2px;
    
}

/* .descripcion p {
    margin: 0;
    padding: 10px;
} */

/* Resto de tus estilos CSS existentes */

  
  
  /* .login:before{
    content: '';
    display: block;
    width: 75%;
    height: 50px;
    background: linear-gradient(90deg, rgba(255, 255, 255,0), rgba(255, 255, 255,.2), rgba(255, 255, 255,0));
    position: absolute;
    top: 35%;
    transform: rotate(45deg);
  } */
  
  .tit {
    position: fixed;
    top: 0;
    margin-left: 55px;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    padding: 86px 0;
}
  .caja{
    top: -1px;
    position: relative;
    width: 450px;
    margin: 30px 0;
    padding: 2px;
    border-bottom: 2px solid #ffffff;
  
  }
  .caja label{
    position: absolute;
    top: -10%;
    left: 5px;
    transform: translate(-7%);
    font-size: 1em;
    color: #ffffff;
    pointer-events: none;
    transition: .5s;
  
  }
/*   
  .caja input:focus~label,
  .caja input:valid~label{
    top: -6px;
  } */
  .caja input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #ffffff;
    
  }
  .caja .icono{
    position: absolute;
    right: 8px;
    color: #ffffff;
    font-size: 1.2rem;
    line-height: 57px;
  
  }
  .olvido {
    text-align: center;
    margin:-15px 0 15px;
    font-size: .9rem;
  }
  .olvido a{
    color: #ffffff;
    text-decoration: none;
  }
  .olvido a:hover{
    text-decoration: underline;
  }
  .caja #email {
    background-color: transparent;
  }
     button.continuar {
            display: block;
            margin: 0 auto;
            width: 75%;
            height: 40px;
            background-color: #ffffff;
            border: none;
            outline: none;
            border-radius: 35px;
            cursor: pointer;
            font-size: 1em;
            color: rgb(0, 0, 0);
            box-shadow: #000;
            font-weight: 500;
        }
  
  .registro{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-align: center;
    margin: 25px 0 10px;
  }
  .registro p{
    color: #ffffff;
    font-weight: 600;
  }
  .registro a{
    text-decoration: none;
    color: #ffffff;
  }
  .registro a:hover{
    text-decoration: underline;
  
  }
  @media(max-width:360px){
    .login{
        width: 100%;
        height: 100vh;
        border: none;
        border-radius: 0;
    }
    .caja{
        width: 290px;
  
    }
  }
  .card-body p{
    text-align: center;
    color:#000;
  
  }
  
  